<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We offer the best solution to our clients</h2>
                <Br>
                <hr class="light">
                <Br>
                <h3 class="text-faded">Professional Way</h3>
                <h3 class="text-faded">Enthusiastic Attitude</h3>
                <h3 class="text-faded">Trustworthy Partner</h3>
                <!--
                    <a href="#" class="btn btn-default btn-xl">Get Started!</a>
                -->
            </div>
        </div>
    </div>
</section>
