<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Setting the Industry Standard in <font color="green"> IFRS 9 </font></h1>
            <hr>
            <p>Leading Global Financial Risk Analytics. Qvious can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
