<section id="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">News</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-8 col-lg-offset-2  text-center" style="align-content:center">                                     
                <h3>Qvious is an ISDA SIMM2.2 Certified Vendor</h3>   
                <div id="mk-root" style="position:relative; text-align:justify ;  clear: both; font-size: 15px; line-height: 28px; margin:0 ; padding: 5px; border: 1px solid #CCC;color: #333; display: block;">                             
                    <h2 style="margin: 0; border: 0; text-align: left;background: #ff7800;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 20px;padding: 8px 0;margin-bottom: 15px;color: #FFF;width: 100%;text-align: center;"> MK NEWS </h2> 
                    <h3 style="font-size: 24px;line-height: 29px;letter-spacing: -1px; margin: 0;padding: 0; border: 0;text-align: justify;">
                        <a href="https://www.mk.co.kr/news/stock/view/2019/11/999445/" target="_blank">큐비어스, 국내 최초 비청산 장외파생상품 증거금 모형 “SIMM2.2” 단위테스트 통과 - 매일경제</a>
                    </h3><br>                         
                    <div style="overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 4; -webkit-box-orient: vertical; word-wrap:break-word;margin: 0;padding: 0; border: 0;font-size: 100%;"> 
                        <a href="https://www.mk.co.kr/news/stock/view/2019/11/999445/" target="_blank">요약-주식회사 큐비어스(qvious)는 지난 11월 22일 큐비어스에서 개발한 개시증거금 산출시스템 ‘QvIM’이 국내 최초로 국제스왑파생상품협회 (The International Swaps and Derivatives Association, Inc: ISDA)의 표준 개시증거금 산출 모형인 SIMM2.2</a> 
                    </div> <br><span class="box_pop1_by" style=" margin: 0;padding: 0;border: 0;font-size: 100%;"><a href="https://www.mk.co.kr/news/stock/view/2019/11/999445/">기사 원문보기</a></span> 
                </div>                    
            </div>
        </div>         
    </div> 
</section>
