<!DOCTYPE html>

<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}  
  {% include services.html %}
  
  
	<main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>
  
	<section class="quote-section">
		<p class="container editable">
			<font size="5em" > <!-- <font size="5em" color="green"> -->
			<a href="{{ site.baseurl }}/#contact"><font color = "green"> Contact us </font></a> to find out how Qvious can help you. <br/> Always welcomes your questions.
			</font>
		</p>
	</section>
	
	{% include pagination.html %}
	{% include footer.html %}
 {% include products.html %}
  {% include call-to-action.html %}
  {% include news.html %}
  {% include aside.html %}
  {% include contact.html %}
  {% include scripts.html %} 
</body>

</html>